:root {
  /* theme1 */

  /* background color */
  --main-background1: hsl(222, 26%, 31%);
  --toggle-background1: hsl(223, 31%, 20%);
  --keypad-background1: hsl(223, 31%, 20%);
  --screen-background1: hsl(224, 36%, 15%);

  --key11-background: hsl(225, 21%, 49%);
  --key11-shadow: hsl(224, 28%, 35%);

  --key12-background: hsl(6, 63%, 50%);
  --toggle1: hsl(6, 63%, 50%);
  --key12-shadow: hsl(6, 70%, 34%);

  --key13-background: hsl(30, 25%, 89%);
  --key13-shadow: hsl(28, 16%, 65%);

  /* Text Color */
  --dark-grayish-blue: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);

  /* Theme 2 */
  /* background color */
  --main-background2: hsl(0, 0%, 90%);
  --toggle-background2: hsl(0, 5%, 81%);
  --keypad-background2: hsl(0, 5%, 81%);
  --screen-background2: hsl(0, 0%, 93%);

  --key21-background: hsl(185, 42%, 37%);
  --key21-shadow: hsl(185, 58%, 25%);

  --key22-background: hsl(25, 98%, 40%);
  --toggle2: hsl(25, 98%, 40%);
  --key22-shadow: hsl(25, 99%, 27%);

  --key23-background: hsl(45, 7%, 89%);
  --key23-shadow: hsl(35, 11%, 61%);
  /* Text Color */
  --very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --white: hsl(0, 0%, 100%);

  /* Theme 3 */
  /* background color */
  --main-background3: hsl(268, 75%, 9%);
  --toggle-background3: hsl(268, 71%, 12%);
  --keypad-background3: hsl(268, 71%, 12%);
  --screen-background3: hsl(268, 71%, 12%);

  --key31-background: hsl(281, 89%, 26%);
  --key31-shadow: hsl(285, 91%, 52%);

  --key32-background: hsl(176, 100%, 44%);
  --toggle3: hsl(176, 100%, 44%);
  --key32-shadow: hsl(177, 92%, 70%);

  --key33-background: hsl(268, 47%, 21%);
  --key33-shadow: hsl(290, 70%, 36%);
  /* Text Color */
  --light-yellow: hsl(52, 100%, 62%);
  --very-dark-blue: hsl(198, 20%, 13%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 375px) {
  input[type="button"] {
    outline: none;
    border: none;
    cursor: pointer;
  }
  body {
    position: relative;
    top: 0;
    left: 0;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-weight: 700;
    width: 100vw;
    background: var(--keypad-background2);
  }

  .calc_container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background: var(--main-background1);
  }

  .calc_container .calc_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    gap: 1rem;
    margin: 0 auto;
  }

  .calc_container .calc_content .calc_main_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1.6rem 2rem 2rem 2rem;
    gap: 2rem;
  }

  .home_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    width: 100%;
    height: 50px;
    padding: 0 2rem;
  }

  .home_title .left_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    font-size: 14px;
  }
  .home_title .right_home {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    height: inherit;
    font-size: 12px;
  }

  .home_title .right_home .theme {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .home_title .right_home .toggle_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 0.25rem;
  }

  .toggle_box .numeric_symbol_theme {
    position: relative;
    top: 0;
    left: 3px;
    display: flex;
    gap: 0.5rem;
  }

  /* toggle theme 1 */

  .toggle_box .toggle[data-toggle="0"] {
    position: relative;
    width: 50px;
    height: 16px;
    cursor: pointer;
    background: var(--toggle-background1);
    border-radius: 24px;
    z-index: 5;
  }

  .toggle_box .toggle[data-toggle="0"] .circle {
    position: relative;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: var(--toggle1);
    border-radius: 50%;
    transition: all 700ms ease-in-out;
    z-index: 1;
  }

  .result_container[data-result-container="0"] {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    background: var(--screen-background1);
    color: var(--white);
    width: 100%;
    padding: 1.8rem;
    /* margin: 1rem auto; */
    border-radius: 5px;
  }

  .button_container[data-btn-container="0"] {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--keypad-background1);
    padding: 0.8rem;
  }

  .button_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: calc(100% - 1rem);
    margin: 0 auto;
    gap: 0.8rem;
  }

  .button_grid :nth-child(17) {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
  }
  .button_grid :last-child {
    grid-row: 5 / span 1;
    grid-column: 3 / span 2;
  }

  /* button theme 1 */

  .button_grid .single_btn[data-number="0"],
  .button_grid .single_btn[data-operation="0"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0.8rem;
    color: var(--dark-grayish-blue);
    border-radius: 5px;
    background: var(--key13-background);
    box-shadow: 0px 3px 0px 1px var(--key13-shadow);
  }

  .single_btn.btn_del[data-delete="0"] {
    background: var(--key11-background);
    box-shadow: 0px 3px 0px 1px var(--key11-shadow);
    color: var(--white);
  }

  .button_grid .dual_btn {
    display: grid;
    padding: 0.8rem;
    border-radius: 5px;
  }

  .dual_btn.btn_reset[data-reset="0"] {
    background: var(--key11-background);
    box-shadow: 0px 3px 0px 1px var(--key11-shadow);
    color: var(--white);
  }
  .dual_btn.btn_result[data-result="0"] {
    background: var(--key12-background);
    box-shadow: 0px 3px 0px 1px var(--key12-shadow);
    color: var(--white);
  }

  .attribution {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    color: var(--screen-background3);
    margin: 0 auto;
  }
  .attribution a {
    color: var(--white);
    opacity: 0.9;
  }
}

@media (min-width: 500px) {
  .calc_container {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    background: var(--main-background1);
  }

  .home_title {
    padding: 0 1rem;
  }

  .calc_container .calc_content .calc_main_content {
    padding: 1.6rem 1rem 2rem 1rem;
  }
}

@media (min-width: 727px) {
  .calc_container {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    margin: 0 auto;
    background: var(--main-background1);
  }

  .home_title {
    padding: 0 0.5rem;
  }

  .calc_container .calc_content .calc_main_content {
    padding: 1.6rem 0.5rem 2rem 0.5rem;
  }

  .attribution {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 920px) {
  body {
    width: 80vw;
    padding-top: 2.5rem;
    margin: 0 auto;
  }
  .calc_container {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    margin: 2rem auto;
    padding-bottom: 2.2rem;
    background: var(--main-background1);
  }

  .home_title {
    padding: 0 0.1rem;
    margin-top: 3rem;
  }

  .home_title .left_home {
    font-size: 22px;
  }
  .home_title .right_home {
    font-size: 16px;
  }

  .calc_container .calc_content .calc_main_content {
    padding: 1.6rem 0.1rem 2rem 0.1rem;
  }

  .result_container {
    padding: 2.8rem 1.8rem;
  }
}

/* toggle theme 2 */

.toggle_box .toggle[data-toggle="1"] {
  background: var(--toggle-background2);
}

.toggle_box .toggle[data-toggle="1"] .circle {
  background: var(--toggle2);
}

.result_container[data-result-container="1"] {
  background: var(--screen-background2);
  color: var(--white);
}

.button_container[data-btn-container="1"] {
  background: var(--keypad-background2);
}

/* toggle theme 3 */

.toggle_box .toggle[data-toggle="2"] {
  background: var(--toggle-background3);
}

.toggle_box .toggle[data-toggle="2"] .circle {
  background: var(--toggle3);
}

.result_container[data-result-container="2"] {
  background: var(--screen-background3);
  color: var(--white);
}

.button_container[data-btn-container="2"] {
  background: var(--keypad-background3);
}

/* button theme 2 */

.button_grid .single_btn[data-number="1"],
.button_grid .single_btn[data-operation="1"] {
  color: var(--very-dark-grayish-yellow);
  border-radius: 5px;
  background: var(--key23-background);
  box-shadow: 0px 3px 0px 1px var(--key23-shadow);
}

.single_btn.btn_del[data-delete="1"] {
  background: var(--key21-background);
  box-shadow: 0px 3px 0px 1px var(--key21-shadow);
  color: var(--white);
}

.dual_btn.btn_reset[data-reset="1"] {
  background: var(--key21-background);
  box-shadow: 0px 3px 0px 1px var(--key21-shadow);
  color: var(--white);
}

.dual_btn.btn_result[data-result="1"] {
  background: var(--key22-background);
  box-shadow: 0px 3px 0px 1px var(--key22-shadow);
  color: var(--white);
}

/* button theme 3 */

.button_grid .single_btn[data-number="2"],
.button_grid .single_btn[data-operation="2"] {
  color: var(--light-yellow);
  border-radius: 5px;
  background: var(--key33-background);
  box-shadow: 0px 3px 0px 1px var(--key33-shadow);
}

.single_btn.btn_del[data-delete="2"] {
  background: var(--key31-background);
  box-shadow: 0px 3px 0px 1px var(--key31-shadow);
  color: var(--white);
}

.dual_btn.btn_reset[data-reset="2"] {
  background: var(--key31-background);
  box-shadow: 0px 3px 0px 1px var(--key31-shadow);
  color: var(--white);
}

.dual_btn.btn_result[data-result="2"] {
  background: var(--key32-background);
  box-shadow: 0px 3px 0px 1px var(--key32-shadow);
  color: var(--very-dark-blue);
}
